<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
        <title>Games</title>
    </head>

    <body class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h1>Hallo</h1>
                    <p>Template</p>
                </div>
            </div>
        </div>
        
    </body>
</html>