<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ("../partials/head") %>
        <title>Games</title>

        <style>
            body, html {
                height: 100%;
                background: rgb(132,124,136);
                background: linear-gradient(90deg, rgba(132,124,136,1) 0%, rgba(194,175,200,1) 100%); 
            }
            .row {
                display: flex;
                flex-direction: row;
            }
        </style>

        <script>
            function guestLogin() {
                let discriminator = Math.floor(Math.random() * 9999) + 1000;
                localStorage.setItem('user_id', `guest#${discriminator}`);
                localStorage.setItem('user_username', `guest#${discriminator}`);
                localStorage.setItem('user_type', 'guest');
                location.href = '/'
            }
        </script>
    </head>

    <body>
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-auto mx-auto">
                    <div class="card bg-dark mb-3 text-white">
                        <div class="card-body align-items-center">
                            <h5 class="card-title">
                                To use this website you need to login.
                            </h5>
                            <a class="btn btn-primary" href="/discord">
                                Continue with Discord
                            </a>
                            <br><br>
                            <button class="btn btn-secondary" href="javascript:void(0);" onclick="guestLogin()">
                                Continue as a guest
                            </button>
                            <br>
                            <small>
                                As a guest you cannot save anything
                            </small>
                            <!-- <ul class="list-group list-group-flush bg-primary">
                                <li class="list-group-item text-primary align-middle">
                                    <a href="/discord">
                                        Login with Discord
                                    </a>
                                </li>
                                <li class="list-group-item text-primary">Continue as a guest</li>
                            </ul> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>